{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Cursos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/course-details.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ curso.nombre }}</h1>
    <div class="course-info">
        <img src="{{ curso.imagen }}" alt="{{ curso.nombre }}">
        <div class="course-details">
            <p class="category">{{ curso.categoria.nombre }}</p>
            <p class="students">{{ curso.num_estudiantes }} estudiantes inscritos</p>
            <p class="duration">Duración del curso: {{ curso.duracion }}</p>
            <p class="price-detail">${{ curso.precio }}</p>
            <a href="#" class="enroll-now">Inscribirse Ahora</a>
        </div>
    </div>
    <div class="course-description">
      <h2>Descripción del Curso</h2>
      <p>{{ curso.descripcion }}</p>
    </div>
    <div class="instructor-info">
        <h2>Información del Instructor</h2>
        {% if curso.instructor %}
            <img src="{% static curso.imagen_instructor %}" alt="{{ curso.instructor.nombre }}">
            <p>{{ curso.instructor.nombre }}</p>
            <p>{{ curso.instructor.bio }}</p>
        {% else %}
            <p>No hay información disponible.</p>
        {% endif %}
    </div>

    <div class="d-flex justify-content-end">
        <a href="{% url 'curso_update' curso.id %}" class="cta-button me-3">Actualizar Datos</a>
        {% if curso.estado == "publicado" %}
            <a href="#"
                class="cta-button"
                data-bs-toggle="modal"
                data-bs-target="#confirmDeleteModal">Archivar Curso</a>
        {% else %}
            <a href="#"
                class="cta-button"
                data-bs-toggle="modal"
                data-bs-target="#confirmDeleteModal">Restaurar Curso</a>
            
        {% endif %}
    </div>

    {% if curso.estado == "publicado" %}
        <div class="modal fade"
            id="confirmDeleteModal"
            tabindex="-1"
            aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación virtual</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">¿Estás seguro de que deseas archivar este curso?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="{% url 'hide_curso' curso.id %}" class="btn btn-danger">Archivar</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="modal fade"
            id="confirmDeleteModal"
            tabindex="-1"
            aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar restauración</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">¿Estás seguro de que deseas restaurar este curso?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="{% url 'restore_curso' curso.id %}" class="btn btn-danger">Restaurar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}