.main-body {
    background: url(bg2.png) no-repeat center center/cover fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #2b2065;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1e184c;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

h1 {
    color: #15162d;
    margin-bottom: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;
}

.card {
    border-radius: 10px;
    /* add blur transparency */
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    max-width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: left;
}

.category {
    font-size: 14px;
    color: #444;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 30px;
    color: #446;
}

.price {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-100%);
    background-color: #2b2065;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 50px;
    padding: 0 8px;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.learn-more {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #fff;
    color: #8a2be2;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2b2065;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #1e184c;
}
